.banner {
    position: relative;
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .banner__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }
  
  .banner__content {
    width: 550px;
    margin-left: auto;
    margin-right: 20px;
  }