.offer--align-center {
    text-align: center;
  }
  
  .offer__title {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 58px;
    line-height: 1.2;
  }
  
  .offer__description {
    margin: 0 0 15px 0;
  }
  
  .offer__button {
    width: 230px;
    margin: 35px 0 0 0;
  }
  